*{
    margin:0%;
    padding: 0%;
}

body {
background-color:white;
}


.yellow{
    background-color: #FFE607;
    border-radius: 10px;
    margin: 30px;
    width: calc(100%-30px);
    height: 100vh;
}

.purple{
    position: relative;
    top:20px;
    background-color: #D094ee;
    border-radius: 10px;
    margin:auto;
    width: 95%;
    height: 93vh;
    display: block;   
}

.geekyBottom{
    margin-top: 0px;
    margin-left: 0px;

}


.hPImgLogo{
    margin-left: 350px;
    height: 250px;
    width: 300px;
}

.hPImgGeeky{
    margin-left: 350px;
    height: 300px;
    width: 300px;
}

.basicBtn{
    margin-left: 450px;
    background-color:black;
    color:ivory;
    font-family: arial;
    font-size: 250%;
    border-radius: 30px;
    border-width: 20px;
    border-style: solid;
    border-color: black;
    
}

.instructionsBtn{
    background-color:black;
    color: white;
    font-family: arial;
    font-size: 250%;
    margin-left: 400px;
    border-radius: 30px;
    border-width: 20px;
    border-style: solid;
    border-color: black;
    
}

.instructionsImg{
    float:left;
    line-height: 0px;
}

.instructionsPage{
    font-size: 200%;
    text-align: center;
    text-emphasis:inherit;
}

.instructionsStyle{
    line-height: 210px;
    font-size: 130%;
    text-align: left;
    margin-left: 200px;  
}

.whiteBackground{
    position: relative;
    top:30px;
    background-color: white;
    border-radius: 10px;
    margin:auto;
    width: 90%;
    height: cover;
}

@media only screen and (max-width: 768px) {
    .hPImgLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
    }
    
    .hPImgGeeky{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 50px;

    }

    .homePageBtn{
        margin-left: 400px;
        background-color:black;
        color:ivory;
        font-family: arial;
        font-size: 150%;
    }
}


